King_of_the_Castle/Binaries
King_of_the_Castle/DerivedDataCache
King_of_the_Castle/Intermediate
King_of_the_Castle/Saved
King_of_the_Castle/ipch
King_of_the_Castle/Build
King_of_the_Castle/WindowsNoEditor
King_of_the_Castle/.vs
King_of_the_Castle/*.VC.db
King_of_the_Castle/*.opensdf
King_of_the_Castle/*.opendb
King_of_the_Castle/*.sdf
King_of_the_Castle/*.sln
King_of_the_Castle/*.suo
King_of_the_Castle/*.xcodeproj
King_of_the_Castle/*.xcworkspace
King_of_the_Castle/Content/Maps/*_BuiltData.uasset
King_of_the_Castle/Content/Maps/*/*_BuiltData.uasset
King_of_the_Castle/Plugins/Wwise/Binaries
King_of_the_Castle/Plugins/Wwise/Intermediate
King_of_the_Castle/King_of_the_Castle_WwiseProject/.cache/*
King_of_the_Castle/King_of_the_Castle_WwiseProject/.cache/Windows/SFX/Wwise.dat
*.bnk
*.wwu
WindowsNoEditor/

King_of_the_Castle/Content/Maps/Main_Level.umap
King_of_the_Castle/Content/Maps/Main_Level.umap
King_of_the_Castle/Content/Materials/M_Book_Mat.uasset
King_of_the_Castle/Content/Meshes/Props/block_1.uasset
King_of_the_Castle/Content/Meshes/Props/block_2.uasset
King_of_the_Castle/Content/Meshes/Props/block_3.uasset
