Binaries/
DerivedDataCache/
Intermediate/
Saved/
ipch/
Build/
WindowsNoEditor/
WwiseAudio/
.vs/
.cache/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
*.bnk
*.wwu

TempDefinitionFile.txt
*.validationcache
*.*.wsettings

King_of_the_Castle/King_of_the_Castle_WwiseProject/IncrementalSoundBankData.xml